body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  }
  nav {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  }
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  }
  nav li.inici {
  margin-right: auto;
  }
  nav li {
  margin: 0 1rem;
  }
  nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  }
  nav a:hover {
  background-color: #555;
  }
  section {
  padding: 2rem;
  }
  .mapa {
  width: 100%;
  height: 450px;
  border: 0;
  }
  .video {
    width: 560px;
    height: 340px;
    display: block;
    margin: 0 auto;
  }
  img {
  width: 4%;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    position: static;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
}
  @media (max-width: 570px) {
  .video {
  width: 100%;
  }
  }